.dashboard_container_content>svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

}

.dashboard-item {
    transition: 0.2s ease;
    overflow: hidden;
}

.dashboard-item:hover {
    box-shadow: rgba(62, 57, 107, 0.3) 0 6px 16px 0; 
    transition: 0.2s ease
}

.dashboard_container_content>span,
.dashboard_container_content>div {
    z-index: 1
}
