.dashboard_container_content>svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

}

.dashboard_container_content {
    position: relative;
    overflow: hidden;
}

.dashboard_container_content>span,
.dashboard_container_content>div {
    z-index: 1
}




.buy-sell-div .buy,
.buy-sell-div .sell {
    text-align: center;
    font-weight: 500;
    padding: 0.5rem;
    font-size: 0.9rem
}


.buy.focus,
.buy:focus,
.sell.focus,
.sell:focus {
    outline-offset: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
