.portfolio-wrapper {
    min-height: 340px;
}

.chart-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.inactive_portfolio::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: #fafafa;
    opacity: 0.91;
    position: absolute;
}

.inactive_portfolio::before {
    content: "Inactive";
    text-align: center;
    padding-top: 6%;
    font-size: 22px;
    font-weight: 500;
    color: var(--lighter)
}

.inactive_portfolio div.switch_portfolio label {
    color: var(--indigo)
    
}

div.switch_portfolio {
    z-index: 3;
    font-weight: 600;

}

.container-portfolio-action-buttons button {
    z-index: 3;

}
