.new_trade_inputs_300 {
    min-width: 320px;
    max-width: 320px;
}

.img_list,
.trade_img {
    border: none;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.buy-sell-div{
    min-width: 100px;
}
.buy-sell-div .buy,
.buy-sell-div .sell {
    text-align: center;
    font-weight: 500;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.buy.focus,
.buy:focus,
.sell.focus,
.sell:focus {
    outline-offset: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.symbol-div{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 99px;
    white-space: nowrap;
}
    

.error-trade-p {
    margin-left: 66px;
    padding: 0;
}


.inline {
    display: flex;
    align-items: center;
}

.inline > label {
    width: 55px;
    min-width: 55px;
    text-align: right;
    margin-right: 10px;
}

.inline .quantity_input {
    width: 100%;
}

.inline .price_input {
    width: 100%;
}

.inline .price_input:first-of-type {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.inline .price_input {
    width: 33%;
}

.inline .price_input:nth-of-type(2) {
    border-radius: 0;
}

.inline .price_input:last-of-type {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.date-row .inline div .date-inpit-div,
.date-row div .date-inpit-div {
    width: 100%;
}

.date-row div .date-inpit-div {
    float: left;
}

.date-row,
.price-row,
.qty-row {
    margin-top: 35px !important;
}

.profit_row,
.rules-row {
    margin-top: 45px;
}

.rules-row .inline .multiselect,
.rules-row .multiselect {
    width: 100%;
}

.profit_row .inline .pl_currency {
    width: 147.5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.profit_row .inline .trade_return {
    width: 70px;
    padding: 0;
    border-left: none;
    border: none;
    text-align: right;
    background: transparent;
    position: absolute;
    margin-left: 78px;
    color: var(--lighter);
}

.profit_row .inline .trade_return:focus {
    box-shadow: none;
}

.profit_row .inline .fees {
    width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.profit-input-div input {
    width: 100%;
}

.rules-row .multiselect:last-of-type,
.rules-row .multiselect:nth-of-type(2) {
    margin-top: 5px;
}

.container_for_small_trades_table {
    min-height: 215px;
}

.table-div-min-height {
    min-height: 240px;

}

.scroll_modal_content{
    display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .scroll_modal_content .tab-pane{
     max-height: calc(100vh - 20rem);
     height: 500px!important;
     overflow: hidden;
     
 }
 .scroll_modal_content .tab-pane ul {
      overflow-y: auto;
      height: 100%
 }

@media screen and (max-width: 1730px) {
    .main-content-container .trade-record-container {
        left: 275px;
        right: auto;
        top: 125;
        width: calc(100% - 295px);
        padding: 1rem;
    }

}

@media screen and (max-width:1602px) {
    .main-content-container .trade-record-container {
        left: 60px;
        right: auto;
        top: 125;
        width: calc(100% - 60px);
        padding: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .img-commentar-div {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .main-content-container .trade-record-container {
        left: 0 !important;
        right: auto;
        top: 125;
        width: 100%;
        padding: 1rem 0 0;
    }

    .new_trade_inputs_300 {
        min-width: 100%!important;
        max-width: 100%!important;
    }
    .inline .quantity_input {
        width: 100%;
    }
    .inline .price_input {
        width: 100%;
    }
    .date-row .inline div .date-inpit-div,
    .date-row div .date-inpit-div {
        width: 100%;
    }

    .rules-row .inline .multiselect,
    .rules-row .multiselect,
    .rules-wrapper {
        width: 100%;
    }

}

/*table view*/
.trade-history-thead tr th {
    cursor: pointer;
}

/*largearge-row-view*/

.trade-img img {
    object-fit: cover;
    width: 100%;
}

.container-edit-trade-img-container {
    margin: auto;
    width: 90%;
    position: relative;
}

.container-edit-trade-img-container img {
    width: 100%;
}

.timeline-trade .timeline .timeline-item {
    display: flex;
    align-items: center;
}

.timeline-trade .timeline {
    position: relative;
}

.timeline-trade .timeline:before {
    content: "";
    position: absolute;
    left: 153px;
    bottom: 0;
    top: 0;
    width: 2px;
    background-color: var(--lighter);
}

.timeline-item .timeline-label {
    min-width: 130px;
    text-align: right;
    padding-right: 5px;
}

.timeline-item .timeline-badge {
    z-index: 1 !important;
    background: #f8f9fa;
    display: flex;
    align-content: center;
    align-items: center;
}

.timeline-trade .timeline-content {
    min-width: 150px;
    overflow: hidden;
}

.timeline-item .timeline-badge span {
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 13px;
}

.width-50px {
    min-width: 94px !important;
    text-align: left;
}

.trade-note-div {
    max-height: 80px;
    min-height: 60px;
    overflow: auto;
    font-weight: 300;
    width: 100%;
}

.trade-options button {
    padding: 9px;
    border-radius: 9px;
}

.btn-edit-trade.focus,
.btn-edit-trade:focus,
.trade-options button.focus,
.trade-options button:focus {
    box-shadow: none;
}

.trade-options button span {
    font-size: 17px !important;
    color: var(--dark);
}

.trade-options button:hover {
    background: var(--light);

}

/*Edit Trade*/
.editable-item {
    display: flex;
    padding: 7px;
}

.editable-item .price {
    width: 23.5%;
}

.editable-item .label-item {
    font-size: var(--font-normal);
    font-weight: 500;
    padding: 11px;
    text-align: right;
}

.editable-item label:first-of-type {
    min-width: 160px;
}

.input-wrapper-div {
    width: 100%;
}

.badge-rules {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width:992px) {
    .editable-item {
        display: block;
    }

    .editable-item label:first-of-type {
        min-width: auto;
    }

    .editable-item .label-item {
        padding: 0;
    }

    .editable-item .price {
        width: 100%;
    }

    .editable-item .date {
        width: 100%;
    }
}
