.new_trade_inputs_300 {
    min-width: 300px;
    max-width: 300px
}

.trade_img,
.img_list {
    border: 0.12rem var(--primary) dashed;
    border-radius: 3px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.buy-sell-div .buy,
.buy-sell-div .sell {
    text-align: center;
    font-weight: 500;
    padding: 0.5rem;
    font-size: 0.9rem
}

.buy.focus,
.buy:focus,
.sell.focus,
.sell:focus {
    outline-offset: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.error-trade-p {
    margin-left: 66px;
    padding: 0px;
}

.symbol-time_frame div select {
    width: 130px
}

.inline {
    display: flex;
    align-items: center;
}

.inline label {
    margin-right: 10px
}

.inline .quantity_input {
    width: 233px;
}

.inline .price_input {
    width: 78.5px
}

.inline .price_input:first-of-type {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.inline .price_input {
    width: 78.5px
}

.inline .price_input:nth-of-type(2) {
    border-radius: 0
}

.inline .price_input:last-of-type {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.date-row .inline .date-inpit-div,
.date-row .date-inpit-div {
    width: 233px;
}

.date-row .date-inpit-div {
    float: right;
}

.qty-row,
.price-row,
.date-row {
    margin-top: 35px !important
}

.profit_row,
.rules-row {
    margin-top: 72px !important
}

.rules-row .inline .multiselect,
.rules-row .multiselect {
    width: 233px;
}

.profit_row .inline input:first-of-type {
    width: 173.5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none
}

.profit_row .inline .trade_return {
    width: 70px;
    padding: 0px;
    border-left: none;
    border: none;
    text-align: right;
    background: transparent;
    position: absolute;
    margin-right: 65px;
    height: 28px;
    color: var(--lighter)
}

.profit_row .inline .trade_return:focus {
    box-shadow: none
}

.profit_row .inline input:last-of-type {
    width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.profit-input-div input {
    width: 233px;
    float: right;
}

.rules-row .multiselect {
    float: right;
}

.rules-row .multiselect:nth-of-type(2),
.rules-row>.multiselect:last-of-type {
    margin-top: 5px
}

.container_for_small_trades_table {
    min-height: 215px;
}

.table-div-min-height {
    min-height: 305px;

}

@media screen and (max-width: 1730px) {
    .main-content-container .trade-record-container {
        left: 275px;
        right: auto;
        top: 125;
        width: calc(100% - 295px);
        padding: 1rem;
    }

}

@media screen and (max-width:1602px) {
    .main-content-container .trade-record-container {
        left: 60px;
        right: auto;
        top: 125;
        width: calc(100% - 60px);
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .main-content-container .trade-record-container {
        left: 0 !important;
        right: auto;
        top: 125;
        width: 100%;
        padding: 0;
        padding-top: 1rem;
    }
}


/*largearge-row-view*/

.trade-img img {
    object-fit: cover;
    width: 100%;
}

.container-edit-trade-img-container {
    margin: auto;
    width: 90%;
    position: relative;
}

.container-edit-trade-img-container img {
    width: 100%;
}

.timeline-trade .timeline .timeline-item {
    display: flex;
    align-items: center
}

.timeline-trade .timeline {
    position: relative
}

.timeline-trade .timeline:before {
    content: "";
    position: absolute;
    left: 153px;
    bottom: 0;
    top: 0;
    width: 2px;
    background-color: var(--lighter);
}

.timeline-item .timeline-label {
    min-width: 130px;
    text-align: right;
    padding-right: 5px
}

.timeline-item .timeline-badge {
    z-index: 1 !important;
    background: #f8f9fa;
    display: flex;
    align-content: center;
    align-items: center
}

.timeline-trade .timeline-content {
    width: 200px;
    overflow: hidden;
}

.timeline-item .timeline-badge span {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    line-height: 13px
}

.width-50px {
    min-width: 94px !important;
    text-align: left;
}

.trade-note-div {
    max-height: 80px;
    min-height: 60px;
    overflow: auto;
    font-weight: 300;
    width: 100%
}

.trade-options button {
    padding: 9px;
    border-radius: 9px
}

.trade-options button.focus,
.trade-options button:focus,
.btn-edit-trade.focus,
.btn-edit-trade:focus {
    box-shadow: none;
}

.trade-options button span {
    font-size: 17px !important;
    color: var(--dark)
}

.trade-options button:hover {
    background: var(--light);

}

/*Edit Trade*/
.editable-item {
    display: flex;
    padding: 7px;
}

.editable-item .price {
    width: 23.5%
}

.editable-item .label-item {
    font-size: var(--font-normal);
    font-weight: 500;
    padding: 11px;
    text-align: right
}

.editable-item label:first-of-type {
    min-width: 140px;
}

.input-wrapper-div {
    width: 100%;
}

@media (max-width:992px) {
    .editable-item {
        display: block;
    }

    .editable-item label:first-of-type {
        min-width: auto;
    }

    .editable-item .label-item {
        padding: 0
    }

    .editable-item .price {
        width: 100%
    }

    .editable-item .date {
        width: 100%
    }
}
